.cell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  margin: 2px;
  transition: transform 0.5s ease;
  position: relative;
}

.cell.Red {
  background-color: red;
}

.cell.Yellow {
  background-color: yellow;
}

.falling {
  animation: fall 0.5s ease forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.row {
  display: flex;
}